body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#grid-general { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    }
  #grid-general > div {
    padding: 3vh;
  }

.form{
    background-color: white;
    display: block;
    border-radius: 30px;
    height: 25vh;
}

.form label{
    font-family: verdana;
    font-size: 3vh;
}

.form input{
    font-size: 3vh;
}

.button-div{
    text-align: right;
}

.form-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0px;
    border-width: 0;
    border-style: solid;    
    background-color: white;
    transition: .3s;
    color: brown;
}

.form-button:hover{
    color: brown;
    background-color: burlywood;
    transition: .3s;
    cursor: pointer;
}

#grid-inner { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1vh;
    }