body{
    margin: 0;
    background-image: url("../src/sing_up/back_sing.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    }
  #grid > div {
    padding: 3vh;
  }

.form{
    background-color: white;
    display: block;
    font-size: 2vh;
    border-radius: 50px;
    height: 25vh;
}