body {
  margin: 0;
}

header {
  background-image: url("../src/index/header.png");
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoContainerWh40k {
  display: flex;
  color: white;
  font-family: monospace;
  font-size: 2vh;
  align-items: center;
}

.logoWh40k {
  width: 32px;
  height: 32px;
}
main {
  height: 250vh;
}

#grid-general {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  padding: 2vh;
}
footer {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  background-image: url("../src/index/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.email {
  text-align: center;
  font-size: 2.4vh;
  color: white;
  font-family: verdana;
}

.social-container {
  display: flex;
  align-items: center;
}

.social-container img {
  width: 40px;
  height: 40px;
}

.number {
  text-align: center;
  font-size: 2.4vh;
  color: white;
  font-family: verdana;
}
