body {
  margin: 0;
}

header {
  background-image: url("../src/index/header.png");
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoContainer {
  display: flex;
  color: white;
  font-family: monospace;
  font-size: 2vh;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
}
main {
  height: 70vh;
}

#grid-general {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding: 2vh;
}

#grid-general div {
  background-color: red;
  transition: 0.4s;
}

#grid-general img {
  transition: 0.4s;
}

#grid-general img:hover {
  filter: brightness(0.25);
  transition: 0.4s;
  cursor: pointer;
}
