body {
  margin: 0;
  overflow: hidden;
}

#grid-general {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#grid-general div {
  transition: 0.4s;
  height: 364px;
  width: 374px;
  background-color: white;
}

#grid-general img {
  transition: 0.4s;
}

#grid-general img:hover {
  filter: brightness(0.5);
  transition: 0.4s;
  cursor: pointer;
  transform: scale(1.03);
}
